.container {
  width: min(900px, 100% - 3rem);

  margin-inline: auto;
  /* display: grid;
    width: 100%;
  grid-template-columns: 30vw 1fr;
  grid-template-areas:
    "header header"
    "form table"
    "form table"; */
}

header {
  margin-top: var(--space-xl);
}

/* header {
  grid-area: header;
} 
 .form-wrapper {
  grid-area: form;
}

form {
  flex-direction: column;
  margin-inline: 2rem;
}

table {
  grid-area: table;
} */

/* TABLE */

h1,
h2,
caption {
  text-align: center;
}

caption {
  font-size: var(--font-200);
  font-weight: var(--weight-500);
  text-transform: uppercase;
}

table {
  margin-inline: auto;
  width: 100%;
  border-radius: 200px;
  text-align: center;
}

caption {
  padding-block: var(--space-l, 2rem);
}

th,
td {
  padding: var(--space-m);
}

td {
  /* font-weight: var(--weight-500); */
  text-transform: capitalize;
  text-overflow: ellipsis;
  font-size: var(--font-100);
}

th {
  text-align: left;
}

tr:nth-child(even) {
  background-color: var(--alt-color);
}

tr:nth-child(odd) {
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
}

tr:first-child {
  color: var(--button-color);
  position: sticky;
  top: 0;
  background-color: inherit;
  backdrop-filter: blur(50px);

  margin-top: 2rem;
}

/* Form */

form,
.form-group,
.date-info {
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

form {
  gap: var(--space-m);
}

::placeholder {
  opacity: 0.7;
}

input {
  background-color: var(--text-color);
  color: var(--background-color);
  text-align: center;
  z-index: 10000;

  padding-block: 0.5rem;
}

input[type="number"] {
  max-width: 6ch;
}

input[type="text"] {
  max-width: 14ch;
}

.button-bordered {
  width: fit-content;
  padding: 1rem;
}

input,
.button-bordered,
.button-bordered::after {
  border-radius: 5px;
}

label {
  font-weight: var(--weight-500);
}

@media (max-width: 500px) {
  .container {
    width: auto;
    margin-inline: 0.4rem;
  }

  .primary-footer {
    text-align: center;
  }
}

/* Table collapses for mobile */
@media (max-width: 650px) {
  caption {
    margin: 0 auto;
    max-width: 20ch;
  }
}

/* Table collapses for mobile (Use if have more than two types of data) */
@media (max-width: 650px) {
  /* remove columns */

  th {
    display: none;
  }

  td {
    --padding: 0.75rem 1rem;
    padding: var(--padding);
  }

  td:first-child {
    --padding: 1.5rem;
    padding-top: var(--padding);
  }

  td:last-child {
    --padding: 1.5rem;
    padding-bottom: var(--padding);
  }

  td::before {
    font-weight: 700;
  }

  td:nth-of-type(1)::before {
    --padding: 1rem;
    content: "name";
    padding-right: var(--padding);
  }
  td:nth-of-type(2)::before {
    --padding: 1rem;
    content: "date";
    padding-right: var(--padding);
  }

  form {
    flex-direction: column;
    align-items: center;
  }

  form button {
    margin-left: 2rem;
  }
}
