/* Apply color scheme preference and light/dark toggle */
body {
  background-color: var(--background-color);
  color: var(--text-color);

  min-height: 100vh;

  /* Remove Default Cursor to apply custom cursor */
  cursor: none;
}

.primary-footer {
  margin: var(--space-xl);
}
/* Cursor */

a:hover,
button:hover,
svg:hover,
label:hover {
  cursor: none;
}

.cursor-big {
  width: 20px;
  height: 20px;

  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  opacity: 0.9;
  mix-blend-mode: exclusion;
  z-index: 9999;
}

/*  Image & Background Image*/
.background-image-contain {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Flex & Grid */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

/* Buttons & Links & Toggles */

.button-bordered {
  color: var(--background-color);

  padding: 13px 20px 13px;
  outline: 0;
  border: 1px ridge black;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: 1px 1px 5px rgba(1, 1, 0, 0.7);

  transition: color 0.3s;
}

.button-bordered:has(.switch-input:checked) {
  color: var(--background-color);
}

.button-bordered:hover,
.button-bordered:focus {
  color: var(--text-color);
}

.button-bordered::after {
  content: "";
  background-color: var(--button-color);

  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: all 0.2s ease-in-out;
}

.button-bordered:hover:after {
  top: 0;
  left: 0;

  background-color: var(--highlight-color);
  border: 3px ridge black;
}

.button-bordered:focus-visible {
  background-color: var(--highlight-color);
}

.button-bordered:focus:not(:focus-visible) {
  outline: none;
  box-shadow: 1px 1px 5px rgba(1, 1, 0, 0.7);
  background-color: var(--highlight-color);
}

.link-decoration {
  -webkit-box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.125em 0 rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background-color: inherit;
  border-radius: 5px;

  color: var(--button-color);
}

.link-decoration:focus:before,
.link-decoration:hover:before {
  opacity: 0.3;
}

.link-decoration::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 0.3em;
  background-color: var(--highlight-color);
  opacity: 0.5;
  transition: opacity 300ms, transform 300ms, background-color 300ms;
  width: 100%;
  left: 0;
}

.link-decoration:hover {
  background-color: var(--highlight-color);
}

.link-decoration:focus {
  background-color: var(--highlight-color);
}

.link-decoration:hover::after,
.link-decoration:focus::after {
  opacity: 1;
  transform: translate3d(0em, 0.1em, 0.1em);
}

/* Form Front Side Validation */

/* User has entered a valid input */
input:not(:placeholder-shown):user-valid {
  outline-color: var(--valid-input);
}

/* User has either finished typing and the field is invalid or they have reached an invalid width */
input:not(:placeholder-shown):user-invalid {
  outline-color: var(--invalid-input);
}

/* User is inputting text, which may or may not be valid */
input:focus:invalid {
  outline-color: var(--warning-input);
}
